.collapsible {
    height: 50px;
    width: 100%;
    background-color: rgba(115, 95, 117, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 10px;
    border-width: 0px;
    border-style: hidden;
}

.collapsible:hover, .activeCollapsible {
    cursor: pointer;
}

.collapsibleSvg {
    
    padding-right: 5px;
    pointer-events: none;
}

.collapsibleContainer {
    margin-bottom: 20px;
}

.content {
    overflow: hidden;
    max-height: 0;
    background-color: rgba(115, 95, 117, 0.8);

    transition: max-height 0.5s ease-out;
    border-radius: 0 0 10px 10px;
}

.buttonTitle {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(2vw, 16px);
    font-weight: bold;

    text-align: center;
    pointer-events: none;
    color: var(--main-text-color);
}

.spaceHolder {
    width: 50px;
    pointer-events: none;
}