.tab {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    height: 30px;
    flex-grow: 1;
    cursor: pointer;

    text-decoration: underline;
}

.mainContainer {
    height: 30px;
    flex-grow: 1;
    
    position: relative;
    overflow: hidden;
}

.mainContainerFalling {
    height: 30px;
    
    position: absolute;
    overflow: hidden;
}

.wave {
    position: absolute;

    height: 80px;
    width: 1000px;

    pointer-events: none;

    background-image: url('../public/svgs/homeWave.svg');
    background-repeat: repeat-x;
    background-size: 300px 50px;

    animation: 3s linear 0s infinite forwards animateWave;
    top: 30px;
    transition: top 1s linear;

    opacity: .7;
}

@keyframes animateWave {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(-60%)
    }
}