.headerContainer {
    display: flex;
    flex-direction: column;
    background-color: #A2D4F0;

    z-index: 5;

    position: fixed;
    width: 100%;
    top: 0;
}

.title {
    align-self: center;
    height: 50px;

    display: table;
    margin: 5px;
}

.titleText {
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;

    display: table-cell;
    vertical-align: middle;

    color: #000000;
}

.subtitleText {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    display: table-cell;
    vertical-align: middle;

    margin-bottom: 5px;
    margin-top: 0px;

    color: #000000;
}

.tabContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fallingTab {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    height: 30px;

    background-color: #A2D4F0;
}

.fallingTabContainer {
    position: absolute;
    height: 30px;
    visibility: hidden;

    overflow: hidden;

    animation: 0.8s cubic-bezier(.26,.02,.47,.17) 0s 1 dropTab;
    animation-play-state: paused;

    transform: translateY(100vh);
}

.fallingTabWave {
    position: absolute;

    height: 80px;
    width: 1000px;

    background-image: url('../public/svgs/homeWave.svg');
    background-repeat: repeat-x;
    background-size: 300px 50px;

    animation: 3s linear 0s infinite forwards animateWave;

    animation-play-state: paused;

    opacity: .7;
}

.headerUnderline {
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    height: 2px;
    width: 100%;
    background-color: black;
    color: black;
}

@keyframes dropTab {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

    30% {
        transform: translateY(-20px);
    }

    40% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes animateWave {
    0% {
        transform: translateX(0%);
    }
    
    5% {
        top: 0px;
    }

    15% {
        top: -20px;
    }

    100% {
        transform: translateX(-60%);
    }
}