:root {
    --main-bg-color: #232323;
    --main-text-color: #ffffff;
    --secondary-text-color: #989898;
}

html, body {
    margin: 0;
    
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

