.profilePic {
    border-radius: 9999px;
}

.profilePicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.textBodyContent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 5px;
    background-color: black;
    color: black;
}