.profilePic {
    border-radius: 9999px;
}

.profilePicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.bodyText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 30px 0px 30px 0px;
    color: var(--main-text-color);
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 2px;
    background-color: var(--main-text-color);
}

.githubLogo {
    transform: translateY(2px);
    margin-right: 2px;
    background-color: var(--main-text-color);
    border-radius: 20px;
    padding: 1px;
}

.githubLink {
    margin-left: 5px;
    text-decoration: none;
    color: var(--main-text-color);
}

.githubLink:hover {
    cursor: pointer;
}

.githubLinkLabel {
    pointer-events: none;
}