.bodyText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--main-text-color);
    padding-left: 16px;
    line-height: 22px;
}

.categoryTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    color: var(--main-text-color);
}

.sectionText {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: var(--main-text-color);
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 2px;
    background-color: var(--main-text-color);
}

.interestThumbnail {
    border-color: var(--secondary-text-color);
    border-width: 3px;
    border-style: solid;

    height: max(240px, min(450px, 40vw));
    width: max(320px, min(600px, 52vw));
}

.instagramEmbedContainer {
    display: inline-block;
    margin-bottom: 0px;
    width: 330px;
}

.instagramEmbedLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}