.sectionText {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.bodyText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 3px;
}

.unorderedListText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 3px;
    padding-left: 16px;
}

.projectTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 100px;
}

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    height: 2px;
    background-color: black;
    color: black;
}

.projectThumbnail {
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.githubLogoP2 {
    transform: translateY(5px);
}

.eachSlideEffect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
    width: 400px;
  }
  
  .eachSlideEffect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .slide {
    height: 300px;
    width: 400px;
  }